@import url('https://fonts.googleapis.com/css2?family=Exo:ital@1&display=swap');

body {
	margin: 0;
	padding: 0;
	font-family: 'Exo', sans-serif;
	font-size: 1.5rem;
	font-weight: 500;
	/* background-color: #367279 ; */
	background-image: url('/portfolio-background-header-53082_1080x675.jpg');
	background-size: cover;
	background-position: center;
	/* background-repeat: no-repeat; */
	height: 100%;
}

.nav {
	margin-top: 30px;
	margin-bottom: 20px;
	display: flex;
	justify-content: center;
}

.nav .nav-item {
	margin-right: 10px;
}

.nav-link {
	text-decoration: none;
	color: black;
}

footer {
	margin-top: 30px;
	text-align: center;
}

.social-links #github {
	text-decoration: none;
	color: black;
}
.resume-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	margin: 0 auto;
	max-width: 80%;
}

.heading {
	text-align: center;
	font-weight: 900;
	margin-top: 50px;
}

.brand {
	text-align: center;
	font-size: 2.5rem;
	margin-top: 20px;
	font-weight: 900;
}

.subHeading {
	font-weight: 900;
}

.linksContainer {
	display: flex;
	justify-content: center;
	align-items: center;
}

.projectLinks,
#resumeLink {
	text-decoration: none;
	color: rgb(28, 49, 100);
	margin: 10px;
	transition: color 0.3s;
}

.projectLinks:hover,
#resumeLink:hover {
	color: rgb(98, 97, 97);
}

#resumeLinkDiv {
	text-align: center;
padding-top: 10px;
}

.contactContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.customInput, button {
	background-color: #213D63;
	color: white;
}


button,
textarea,
input {
	border-radius: 5px;
}
.profContainer {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.downloadLink {
	margin-top: auto; /* Adjust the margin as needed to create space between proficiency columns and the download link */
	text-align: center; /* Center the link within the container */
}

.downloadLink a {
	display: inline-block; /* Ensure the link behaves like a block element */
	padding: 10px 20px; /* Add padding for better visual appearance */
	background-color: #4b5d69; /* Set background color */
	color: #fff; /* Set text color */
	text-decoration: none; /* Remove underlines from the link */
	border-radius: 5px; /* Add rounded corners */
	transition: background-color 0.3s ease; /* Smooth transition for background color */
}

.downloadLink a:hover {
	background-color: #5b6369; /* Change background color on hover */
}

/* Optional: Add media query for responsiveness */
@media (max-width: 768px) {
	.profContainer {
		flex-direction: column; /* Stack columns on small screens */
		height: auto;
	}
}
